body {
    background: #eaeaea;
}
.checked {
  color: gold !important;
}
.fa-star {
    color: #eaeaea;
    font-size: 14px;
}
.product-review-text {
    margin: 0px;
    color: #959595;
    font-size: 14px;
}

.product-review {
    display: flex;
    margin: 10px 0px;
    align-items: center;
}

.product-review:first-of-type {
    margin-top: 20px !important;
}

.star-wrapper {
    margin-right: 20px;
}

.product-rating-number {
    margin: 0px 5px;
    font-weight: bold;
    font-size: 14px;
    width: 40px;
}

.products {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.product {
    width: 400px;
    margin-top: 20px;
}